@charset "utf-8";
@import url("slick/flexslider.css");



.row-marquee {
  /*border: 1px solid #CCC;*/
  padding: 25px 0;
  font-size: 0;
}

.row-marquee > img {
  margin: 0 20px;
  margin-bottom: 22px;
}

.row-marquee > div {
  display: inline-block;
  width: calc(100% - 0px);
  height: 120px;
}

.row-marquee > div img {
  margin-right: 5px;
  height: 120px;
}

